@{
}

@model TapAndScroll.Core.UploadModels.UploadAuthorizeModel;

<link rel="stylesheet" href="~/css/authReg.css" asp-append-version="true" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <h2>Регистрация</h2>
                <form asp-controller="Authorize" asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="Login" class="form-label">Логин пользователя</label>
                        <span asp-validation-for="Login"></span>
                        <input asp-for="Login" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <span asp-validation-for="Password"></span>
                        <input asp-for="Password" type="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>