@{
}

@model TapAndScroll.Core.UploadModels.UploadRegisterUser;

<link rel="stylesheet" href="~/css/authReg.css" asp-append-version="true" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <h2>Регистрация</h2>
                <form asp-controller="Authorize" asp-action="Register" method="post">
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Имя пользователя</label>
                        <input asp-for="UserName" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>