@{
}

@model ICollection<TapAndScroll.Core.ViewModels.ProductDTO>;

@foreach(var product in Model)
{
    <div>
        <h3>@product.Product.ProductName</h3>
        <a href="@Url.Action("EditProduct", "Admin" , new {slug = product.Product.Slug})">Edit</a>
        <a>Delete</a>
    </div>
}
