.admin-navbar {
    margin-top: 20px;
}

.container-fluid {
    padding: 0;
}

.admin-content {
    padding: 20px;
}

.admin-navbar .navbar-collapse {
    justify-content: center;
}

.admin-navbar .dropdown-menu {
    background-color: #1a1a1a;
    border-color: #00AE68;
}

.admin-navbar .dropdown-item {
    color: #fff;
}

    .admin-navbar .dropdown-item:hover {
        color: #00AE68;
        background-color: #303030;
    }

.admin-navbar {
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
}
