body {
    background-color: #202020;
}

/* Custom CSS for navigation */
.navbar {
    background-color: #1a1a1a; /* Основной цвет фона */
    font-size: larger;
}

.navbar-brand {
    color: #fff; /* Белый цвет текста */
}

.navbar-nav .nav-link {
    color: #fff; /* Белый цвет текста */
}

    .navbar-nav .nav-link:hover {
        color: #00AE68; /* Первый цвет акцента при наведении */
    }

.navbar-toggler-icon {
    background-color: #fff; /* Белый цвет иконки переключателя */
}

.card {
    background-color: #1a1a1a;
    color: #fff;
}

.btn {
    background-color: #00AE68;
    border: 1px solid #1a1a1a;
}

    .btn:hover {
        background-color: #00AE68;
        border: 1px solid #fff;
    }
